.phone-only (@content) {
  @media (max-width: 599px) { @content(); }
}

.tablet-portrait-up (@content) {
  @media (min-width: 600px) { @content(); }
}

.tablet-portrait-down (@content) {
  @media (max-width: 899px) { @content(); }
}

.tablet-landscape-up (@content) {
  @media (min-width: 900px) { @content(); }
}

.desktop-up (@content) {
  @media (min-width: 1200px) { @content(); }
}

.big-desktop-up (@content) {
  @media (min-width: 1800px) { @content(); }
}
