@container-padding: 30px;

.max-width-container(@max-content-width) {
  max-width: @max-content-width + @container-padding + @container-padding;
  padding-left: @container-padding;
  padding-right: @container-padding;
  margin-left: auto;
  margin-right: auto;

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}