/*=========================================*\
  Utility Classes
\*=========================================*/

/*
  Screen size helpers:
*/

.tablet-portrait-up({

  // Mobile only
  .u-phone-only {
    display: none;
  }

});

.phone-only({

  // Tablet portrait up
  .u-tablet-portrait-up {
    display: none;
  }

});

.tablet-landscape-up({

  // Show on phone / portrait tablets only
  .u-tablet-portrait-down {
    display: none;
  }

});

.tablet-portrait-down({

  // Show on landscape tablets up only
  .u-tablet-landscape-up {
    display: none;
  }

});


/*
  Typography helpers:
*/

.u-lead-text {
  font-size: 2.8rem;
  line-height: 1.4;
  font-weight: @light;
  margin-bottom: 15px;

  .tablet-portrait-down({
    font-size: 1.8rem;
  })
}

.u-citation {
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: @semi;
}


/*
  Clearfix:
*/

.u-clearfix:after {
  content: '';
  display: table;
  clear: both;
}


/*
  Layout helpers
*/

.u-margin-btm-70 {
  margin-bottom: 70px;
}


/*
  Form helpers
*/

.u-required {
  color: @red;
}