---
layout: default
ishome: true
---

<!-- Intro panel -->
<div class="full-width-panel">
  <div class="container">
    <h1>Creating a space that is right for you</h1>
    <div class="page-text">
      <p class="u-lead-text">For over 20 years, we've been the first choice of architects and designers in timber shutters, louvres and screens.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>

<!-- Products panel -->
<div class="full-width-panel full-width-panel--sand-light">
  <div class="container container--no-padding">
    <div class="col-group">
      <div class="col-dt-3">
        <h2>Our Products</h2>
        <div class="u-lead-text">
          Select a range to see the endless possibilites&hellip;
        </div>
      </div>
      <div class="col-dt-9">
        {% include product-range-jumper-links.html %}
      </div>
    </div>
  </div>
</div>

<!-- Blog panel -->
<div class="full-width-panel">
  <div class="container">
    <div class="col-group">
      <div class="col-dt-9 col-dt-push-3">
        <h2 class="u-phone-only">Our Blog</h2>
        <div class="col-group">
          <div class="col-6">
            <div class="post-preview">
              <a href="#" class="post-preview__img js-img-fill">
                <img src="{{ "/assets/img/temp-jumper-link.jpg" | prepend: site.baseurl }}" alt="">
              </a>
              <div class="post-preview__date">21 March 2017</div>
              <h3 class="post-preivew__title">Belated Congratulations</h3>
              <div class="post-preview__body">
                <p>To our apprentice Aaron Pomeroy, who last month successfully completed his apprenticeship in Furniture Finishing. For the past four years, Aaron has been&hellip;</p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="post-preview">
              <a href="#" class="post-preview__img js-img-fill">
                <img src="{{ "/assets/img/temp-jumper-link.jpg" | prepend: site.baseurl }}" alt="">
              </a>
              <div class="post-preview__date">21 March 2017</div>
              <h3 class="post-preivew__title">Belated Congratulations</h3>
              <div class="post-preview__body">
                <p>To our apprentice Aaron Pomeroy, who last month successfully completed his apprenticeship in Furniture Finishing. For the past four years, Aaron has been&hellip;</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-dt-3 col-dt-pull-9">
        <h2 class="u-tablet-portrait-up">Our Blog</h2>
        <form action="#" method="post" class="signup-form">
          <h3 class="signup-form__title">Sign up for Openshutters updates</h3>
          <input class="signup-form__input" type="text" name="Account-Email" placeholder="name@email.com">
          <input type="hidden" name="Hook-EmailSignup" value="true">
          <input type="hidden" name="Hook-Catcher" value="3">
          <input type="hidden" name="subjectline" value="New email subscriber">
          <input type="hidden" name="Account-Terms" value="true">
          <input type="hidden" name="Account-Newsletter" value="on">
          <button type="submit" class="signup-form__btn btn btn--has-icon">
            <i class="btn__icon icon-envelope"></i> Sign me up!
          </button>
          <p class="signup-form__note u-citation">We don't spam. You can unsubscribe at any time.</p>
  			</form>
      </div>
    </div>
  </div>
</div>

<!-- Testimonials panel -->
<div class="full-width-panel full-width-panel--sand">
  <div class="container">
    <h2 class="testimonials-panel__heading">
      <img class="testimonials-panel__logo" src="{{ "/assets/img/os-logo@2x.png" | prepend: site.baseurl }}" alt="OpenShutters Client Feedback">
      <span class="testimonials-panel__heading-text u-tablet-portrait-up">Client Feedback</span>
    </h2>
    <div class="testimonials-slider-wrap">
      <div class="testimonials-slider">
        <ul class="testimonials-slider__list js-testimonials-slider">
          <!-- NOTE: Loop through testimonials and output each one as an li here: -->
          <li class="testimonials-slider__item u-clearfix">
            <div class="testimonials-slider__quote">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="testimonials-slider__author u-citation">- Catherine, NSW, March 2013</div>
          </li>
          <li class="testimonials-slider__item u-clearfix">
            <div class="testimonials-slider__quote">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="testimonials-slider__author u-citation">- Someone, QLD, March 2018</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Our People panel -->
<div class="full-width-panel people-panel">
  <div class="people-panel__container container">
    <div class="people-panel__image-wrap">
      <img class="people-panel__image" src="{{ "/assets/img/temp-people-panel.jpg" | prepend: site.baseurl }}" alt="">
    </div>
    <div class="people-panel__text">
      <h2 class="people-panel__title">Our People</h2>
      <div class="people-panel__body-text">
        <p>We look forward to working with you and finding just the right solution for your project. We have 30 people at the OpenShutters manufacturing site at Berkeley Vale, Central Coast NSW. Led by <strong>Gail Cottrill</strong>, our Innovation Champion, <strong>Marion Mikkelsen</strong>, our Chief Executive Officer and <strong>Stephen Sutherland</strong>, our commercial director.</p>
      </div>
      <a href="#" class="people-panel__btn btn btn--has-icon">
        <i class="btn__icon icon-bubble"></i>
        Talk to us
      </a>
    </div>
  </div>
</div>