---
layout: default
ispinboard: true
---

<div class="col-group">
  <div class="col-dt-4 col-dt-push-8">
    <div class="pinboard__tools">
      <div class="pinboard__tool js-mini-menu-trigger">
        <i class="icon-cog pinboard__tool-icon"></i>
        <ul class="pinboard__tool-menu">
          <li class="pinboard__tool-menu-item"><a href="#" class="pinboard__tool-menu-link">Rename pinboard</a></li>
          <li class="pinboard__tool-menu-item"><a href="#" class="pinboard__tool-menu-link">Save pinboard</a></li>
          <li class="pinboard__tool-menu-item"><a href="#" class="pinboard__tool-menu-link">Pinboard help</a></li>
          <li class="pinboard__tool-menu-item"><a href="#" class="pinboard__tool-menu-link">Add another pinboard</a></li>
          <li class="pinboard__tool-menu-item"><a href="#" class="pinboard__tool-menu-link">Delete this pinboard</a></li>
        </ul>
      </div>
      <a href="#" class="pinboard__tool">
        <i class="icon-dart pinboard__tool-icon"></i>
      </a>
    </div>
  </div>
  <div class="col-dt-8 col-dt-pull-4">
    <div class="page-text">
      <h1>My Pinboard #1</h1>
      <p>We're making it easy to keep your inspiration in one place. Add images from anywhere on our website and manage them here, add more pinboards, and share them with us to enquire about your own personalised solution, or share it with your friends, architects, designers or the world, via email, or social media.</p>
    </div>
  </div>
</div>

<div class="pinboard__tiles col-group">
  <div class="col-mb-6 col-dt-4">
    {% include product-tile--active.html %}
  </div>
  <div class="col-mb-6 col-dt-4">
    {% include product-tile--active.html %}
  </div>
  <div class="col-mb-6 col-dt-4">
    {% include product-tile--active.html %}
  </div>
  <div class="col-mb-6 col-dt-4">
    {% include product-tile--active.html %}
  </div>
  <div class="col-mb-6 col-dt-4">
    {% include product-tile--active.html %}
  </div>
  <div class="col-mb-6 col-dt-4">
    {% include product-tile--active.html %}
  </div>
  <div class="col-mb-6 col-dt-4">
    {% include product-tile--active.html %}
  </div>
  <div class="col-mb-6 col-dt-4">
    {% include product-tile--active.html %}
  </div>
  <div class="col-mb-6 col-dt-4">
    {% include product-tile--active.html %}
  </div>
  <div class="col-mb-6 col-dt-4">
    {% include product-tile--active.html %}
  </div>
  <div class="col-mb-6 col-dt-4">
    {% include product-tile--active.html %}
  </div>
</div>