.blog-article {
  max-width: 705px;
  margin-bottom: 50px;
}

.blog-article__title {
  margin-bottom: 10px;
}

.blog-article__date {
  margin-bottom: 30px;
}

.blog-article__image {
  margin-bottom: 30px;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.blog-article__body-text {
  line-height: 1.6;
  margin-bottom: 30px;
}

.blog-article__toolbar {
  padding-bottom: 15px;
  border-bottom: 2px solid @dark-grey;
}

.blog-article__tool {
  color: @black;
  font-size: 1.4rem;
  line-height: 20px;

  &:hover,
  &.active {
    color: @wood;
  }

  &.active {
    font-weight: @semi;
  }
}

.blog-article__tool-icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 2rem;
}

.blog-article__comment-link {
  float: left;

  .blog-article__tool-icon {
    margin-right: 7px;
  }
}

.blog-article__share-link {
  float: right;

  .blog-article__tool-icon {
    margin-left: 7px;
  }
}

.blog-article__form {
  display: none;
  padding: 30px 0;

  &.show {
    display: block;
  }
}

.blog-article__form-title {
  margin: 0;
}