// Standard buttons:

.btn {
  display: inline-block;
  position: relative;
  padding: 16px 30px;
  border: none;
  background: @black;
  color: #fff;
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: 1px;
  font-family: @primary-font;
  font-weight: @bold;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.btn--outline {
  border: 1px solid @sand;
  color: @sand;
  background: none;

  .notifications-icon {
    position: absolute;
  }
}

.btn--outline-reversed {
  background: @sand;
  color: @dark-grey;
}

.btn--has-icon {
  padding-left: 65px;
}

.btn__icon {
  position: absolute;
  left: 25px;
  top: 10px;
  font-size: 2.4rem;
}

.btn--no-text {
  padding: 8px;

  .btn__icon,
  .notifications-icon__icon {
    position: relative;
    top: auto;
    left: auto;
    font-size: 1.8rem;
  }

  .notifications-icon__count {
    width: 14px;
    height: 14px;
    line-height: 16px;
    font-size: 1rem;
    left: -5px;
  }
}


// Notification style icon buttons:

.notifications-icon {
  display: inline-block;
  position: relative;
}

.notifications-icon__icon {
  font-size: 2.4rem;
  line-height: 1;
  position: relative;
  z-index: 1;
}

.notifications-icon__count {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: absolute;
  z-index: 0;
  top: -5px;
  left: -10px;
  background: @red;
  color: #fff;
  font-size: 1.3rem;
  line-height: 20px;
  text-align: center;
  font-weight: @semi;
}


// Pin button:

.pin-btn {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: @dark-grey;
  transition: background-color 300ms ease;

  &:hover,
  &.pin-btn--active {
    background-color: @red;
  }
}

.pin-btn__icon {
  color: @sand;
  font-size: 3rem;
}