.carousel {
  max-width: @content-width--super-wide;
  margin: 0 auto;
  position: relative;
  background: @dark-grey;
}

.carousel__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.carousel,
.carousel__item {
  width: 100%;
  position: relative;
}

.carousel__item {
  overflow: hidden;
}

.carousel__image-link {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.carousel__text {
  position: relative;
  z-index: 10;
}

.carousel__control {
  display: none;
}


// Mobile only carousel:
.tablet-portrait-down({

  .carousel--desktop-only {
    display: none;
  }

  .carousel,
  .carousel__item {
    height: 240px;
  }

  .carousel__item {
    background: @off-white;
    text-align: center;
  }

  // Hack to vertically center text block within carousel area:
  .carousel__item:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  .carousel__text {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 20px;
    width: 99%;
    max-height: 100%;
    overflow: auto;
  }

  .carousel__quote {
    font-size: 1.4rem;
    line-height: 1.3;
    margin-bottom: 10px;
  }

  .carousel__attribution {
    font-size: 1.2rem;
    line-height: 1;
    font-weight: @semi;
  }

  .carousel__btn {
    margin-top: 15px;
  }

});


// Carousel display at 600px up:
.tablet-portrait-up({

  .carousel,
  .carousel__item {
    height: 300px;
  }

  .carousel__quote {
    display: block;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6rem;
    line-height: 1.5;
  }

});


// Desktop only carousel:
.tablet-landscape-up({

  .carousel--mobile-only {
    display: none;
  }

  .carousels-wrap {
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 50%;
      background: @dark-grey;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .carousel,
  .carousel__item {
    height: 430px;
  }

  .carousel__text {
    position: absolute;
    left: 30px;
    top: 50px;
    max-width: 45%;
  }

  .carousel__quote {
    font-size: 2.2rem;
    line-height: 1.35;
    margin-bottom: 25px;
  }

  .carousel__attribution {
    font-size: 1.4rem;
    font-weight: bold;
  }

  .carousel__btn {
    margin-top: 25px;
  }

});


.desktop-up({

  .carousel__text {
    left: 60px;
    top: 60px;
  }

  .carousel,
  .carousel__item {
    height: 580px;
  }

  .carousel__quote {
    font-size: 3.2rem;
    margin-bottom: 30px;
  }

  .carousel__btn {
    margin-top: 30px;
  }

});


// Custom media query to show prev/next controls when screen width allows:
@media (min-width: 1400px) {

  .carousel__control {
    display: block;
    width: 56px;
    height: 56px;
    position: absolute;
    z-index: 99;
    top: 50%;
    margin-top: -26px;
    background: @wood;
    color: #fff;
    text-align: center;
    line-height: 56px;
    font-size: 3rem;
  }

  .carousel__control--prev {
    left: -28px;
  }

  .carousel__control--next {
    right: -28px;
  }

}


// Increase size of slides and text on larger screens:
.big-desktop-up({

  .carousel,
  .carousel__item {
    height: 640px;
  }

  .carousel__text {
    max-width: 39%;
  }

  .carousel__quote {
    font-size: 3.8rem;
  }

});