.signup-form {
  display: block;

  .phone-only({
    margin-top: 30px;
  })
}

.signup-form__title {
  font-size: 1.4rem;
}

.signup-form__input {
  border: none;
  border-bottom: 1px solid #333;
  display: block;
  width: 100%;
  max-width: 280px;
  padding: 10px 0;
  font-size: 1.4rem;
  line-height: 1;
  margin-bottom: 15px;
}

.signup-form__btn {
  margin-bottom: 10px;
}

.signup-form--sidebar .signup-form__note {
  font-size: 1.2rem;
  max-width: 200px;
}

.form-switcher {
  padding: 15px 0;
  margin-bottom: 20px;
}

.form-switcher__link {
  display: inline-block;
  vertical-align: middle;
  margin-right: 40px;
  font-size: 2rem;
  line-height: 1;
  font-weight: @semi;
  color: @black;
  opacity: .3;
  transition: opacity 300ms ease;

  &.active {
    opacity: 1;
  }
}

.field--checkable {
  display: inline-block;
  width: auto;
  margin-right: 40px;
  padding: 5px 0;

  .field__input,
  .field__label {
    display: inline-block;
    vertical-align: middle;
  }

  .field__label {
    font-weight: @semi;
    font-size: 1.4rem;
  }

  .field__input {
    width: auto;
    margin: 0 10px 0 0;
  }
}

.contact-page__form {
  display: none;

  &.show {
    display: block;
  }
}

.desktop-up({

  .signup-form--sidebar {
    float: right;
  }

});