.full-width-panel {
  padding-top: 90px;
  padding-bottom: 90px;

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.full-width-panel--sand {
  background: @sand;
}

.full-width-panel--sand-light {
  background: rgba(237,224,193,.5);
}

.tablet-portrait-down({

  .full-width-panel {
    padding-top: 30px;
    padding-bottom: 30px;
  }

});