/*
  Note: to edit/add/remove icons from font kit, import existing icons to
  http://fontello.com/ using the config.json file included in the icons assets
  directory :)
*/

@font-face {
  font-family: 'openshutters';
  src: url('../icons/openshutters.eot?35387881');
  src: url('../icons/openshutters.eot?35387881#iefix') format('embedded-opentype'),
       url('../icons/openshutters.woff2?35387881') format('woff2'),
       url('../icons/openshutters.woff?35387881') format('woff'),
       url('../icons/openshutters.ttf?35387881') format('truetype'),
       url('../icons/openshutters.svg?35387881#openshutters') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "openshutters";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before { content: '\e800'; } /* '' */
.icon-instagram:before { content: '\e801'; } /* '' */
.icon-linkedin:before { content: '\e802'; } /* '' */
.icon-arrow-left:before { content: '\e803'; } /* '' */
.icon-bubble:before { content: '\e804'; } /* '' */
.icon-chevron-down:before { content: '\e805'; } /* '' */
.icon-chevron-left:before { content: '\e806'; } /* '' */
.icon-chevron-right:before { content: '\e807'; } /* '' */
.icon-chevron-up:before { content: '\e808'; } /* '' */
.icon-cog:before { content: '\e809'; } /* '' */
.icon-cross:before { content: '\e80a'; } /* '' */
.icon-envelope:before { content: '\e80b'; } /* '' */
.icon-funnel:before { content: '\e80c'; } /* '' */
.icon-lock:before { content: '\e80d'; } /* '' */
.icon-magnifier:before { content: '\e80e'; } /* '' */
.icon-menu:before { content: '\e80f'; } /* '' */
.icon-printer:before { content: '\e810'; } /* '' */
.icon-pin:before { content: '\e811'; } /* '' */
.icon-dart:before { content: '\e812'; } /* '' */
.icon-pinterest:before { content: '\e813'; } /* '' */
.icon-twitter:before { content: '\e814'; } /* '' */
.icon-pin-solid:before { content: '\e815'; } /* '' */