.jumper-link {
  display: block;
  width: 100%;
  height: 230px;
  margin-bottom: 15px;
  position: relative;
  color: @sand;
  text-decoration: none;

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(0,0,0,0.2);
    opacity: 0;
    transition: opacity 400ms ease;
  }

  &:hover:before {
    opacity: 1;
  }
}

.jumper-link__text {
  display: block;
  position: absolute;
  z-index: 10;
  bottom: 25px;
  left: 25px;
  padding-right: 65px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.jumper-link__primary-text {
  display: block;
  font-size: 4.5rem;
  line-height: 1.1;
}

.jumper-link__secondary-text {
  display: block;
  font-size: 1.4rem;
  line-height: 1;
}

.jumper-link__icon {
  position: absolute;
  right: 0;
  top: 0;
  margin-left: 10px;
  font-size: 6.4rem;
  line-height: 1;
  color: #fff;
}

.jumper-link__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
}


.phone-only({

  .jumper-link {
    width: 100vw;
    margin-left: -30px;
  }

});


.tablet-portrait-up({

  .jumper-links-wrap {
    position: relative;
    height: 590px;
  }

  .jumper-link__secondary-text {
    font-size: 1.8rem;
  }

  .jumper-link--tall {

    .jumper-link__primary-text {
      font-size: 8rem;
    }

  }

  .jumper-link--regular,
  .jumper-link--small {

    .jumper-link__primary-text {
      font-size: 6rem;
    }

  }

  .home-page {

    .jumper-links-wrap {
      height: 438px;
    }

    .jumper-link--regular,
    .jumper-link--small {

      .jumper-link__primary-text {
        font-size: 3.5rem;
      }

      .jumper-link__icon {
        font-size: 5.8rem;
      }

    }

  }

  .jumper-links-wrap__col {
    height: 100%;
  }

  .jumper-link--regular {
    height: 56%;
    margin-bottom: 0;
  }

  .jumper-link--tall {
    height: 100%;
    margin: 0;

    .jumper-link__text {
      bottom: 60px;
    }
  }

  .jumper-link--small {
    height: ~"calc(44% - 15px)";
    width: 75%;
    margin-bottom: 15px;
  }

  .jumper-link--regular,
  .jumper-link--small {

    .jumper-link__text {
      bottom: 20px;
      left: 25px;
      padding-right: 50px;
    }

  }

});

.desktop-up ({

  .home-page {

    .jumper-link--tall {

      .jumper-link__primary-text {
        font-size: 6rem;
      }

      .jumper-link__icon {
        font-size: 6.5rem;
      }
    }

  }

});