.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 10000;

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}

.modal__box {
  display: inline-block;
  vertical-align: middle;
  background: #564c4a;
  width: 100%;
  max-width: 260px;
  padding: 20px 20px 40px 20px;
  margin: 20px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
  color: #fff;
}

.modal__title {
  font-weight: @book;
  font-size: 2.8rem;
  line-height: 1.35;
  user-select: none;
}

.modal__btn {
  margin-top: 23px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  width: 100%;
}

// Class added to body to prevent page scolling when modal present:
.js-modal-present {
  overflow: hidden;
  width: 100%;
  height: 100%;
}