.page-header {
  position: relative;
  z-index: 500;
}

.page-header__container {
  position: relative;
}


.page-header__logo {
  float: left;
}

.page-header__logo-img {
  display: block;
  width: 100%;
  height: auto;
}


.main-menu__menu,
.main-menu__sub-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-menu__sub-menu {
  display: none;
}

.main-menu__link {
  font-weight: @bold;
  text-decoration: none;
  color: @black;
  text-transform: uppercase;
  transition: color 250ms ease;

  &:hover,
  &.main-menu__link--active {
    color: @wood;
  }
}

.main-menu__sub-menu-link {
  text-decoration: none;
}


// Mobile only header styles:
.tablet-portrait-down({

  .page-header--home {

    .page-header__container {
      background: url(../img/wood-texture@2x.jpg) repeat-x center center;
    }

    .page-header__logo {
      background: url(../img/os-logo--white@2x.png) no-repeat center center;
      background-size: contain;
    }

    .page-header__logo-img {
      display: none;
    }

    .page-header__menu-trigger {
      color: #fff;
    }

  }

  .page-header__container {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .page-header__logo {
    width: 182px;
    height: 32px;
  }

  .page-header__menu-trigger {
    position: relative;
    float: right;
    font-size: 3rem;
    line-height: 1;
    color: @black;
  }

  .page-header__menu-icon {
    position: relative;
    z-index: 1;
  }

  .page-header__notification-count {
    position: absolute;
    top: -2px;
    left: -10px;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    line-height: 15px;
    text-align: center;
    background: @red;
    color: #fff;
    font-size: 1.1rem;
    font-weight: @bold;
  }


  .header-menu-section {
    width: 90%;
    max-width: 290px;
    height: 100vh;
    overflow: auto;
    padding: 45px 40px 25px 25px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 30;
    background: rgba(51,51,51,.95);
    color: #fff;
    transform: translateX(100%);
    transition: transform 300ms ease;

    &.open {
      transform: translateX(0);
    }
  }

  .header-menu-section__close {
    display: block;
    font-size: 3rem;
    line-height: 1;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .header-menu-btns .btn {
    display: block;
    margin-bottom: 15px;
  }


  .main-menu {
    margin-bottom: 30px;
  }

  .main-menu__item--active .main-menu__sub-menu,
  .main-menu__sub-menu.open {
    display: block;
    padding-left: 10px;
    margin-bottom: 10px;
  }

  .main-menu__link {
    display: block;
    padding: 8px 0;
    color: #fff;
    font-size: 1.8rem;
    line-height: 1;
  }

  .main-menu__link--active {
    color: @wood;
  }

  .main-menu__sub-menu-link {
    display: inline-block;
    padding: 3px 0;
    margin: 5px 0;
    font-size: 1.6rem;
    line-height: 1;
    font-weight: @light;
    color: #fff;
  }

  .main-menu__sub-menu-link--active {
    font-weight: @semi;
    border-bottom: 4px solid @wood;
  }

});


// Landscape tablet up header styles:
.tablet-landscape-up({

  .page-header__container {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .page-header__logo {
    width: 250px;
  }


  .header-menu-section {
    float: right;

    .notifications-icon__count {
      top: -2px;
      left: -7px;
    }
  }

  .main-menu {
    padding: 7px 0;
  }

  .main-menu__menu,
  .main-menu__tools {
    display: inline-block;
    vertical-align: middle;
  }

  .main-menu__tool {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    color: @black;
    font-size: 2.4rem;
  }

  .main-menu__tool--active:before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    top: -10px;
    left: -17px;
    box-shadow: inset 1px 2px 4px rgba(0,0,0,0.4);
  }

  .main-menu__item {
    display: inline-block;
    margin: 0 20px 0 0;
    position: relative;

    &:hover .main-menu__sub-menu {
      display: block;
    }
  }

  .main-menu__sub-menu {
    position: absolute;
    top: 100%;
    left: -5px;
    background: #fff;
    padding: 10px 10px 5px 10px;
    min-width: ~"calc(100% + 30px)";
  }

  .main-menu__sub-menu-item {
    display: block;
    margin: 3px 0;
  }

  .main-menu__sub-menu-link {
    display: inline-block;
    white-space: nowrap;
    color: @black;
    font-size: 1.4rem;
    line-height: 1;
    padding: 0 0 3px 0;
  }

  .main-menu__sub-menu-link--active {
    font-weight: @bold;
    border-bottom: 4px solid @wood;
  }

  .main-menu__link {
    font-size: 1.4rem;
    letter-spacing: 1px;
  }


  // Alt styles for home page header (reversed colours etc)
  .page-header--home {
    background: @dark-grey;
    color: #fff;
    padding-bottom: 5px;

    .page-header__container {
      padding-top: 5px;
      padding-bottom: 0;
    }

    .main-menu__link,
    .main-menu__sub-menu-link,
    .main-menu__tool {
      color: #fff;
    }

    .main-menu__sub-menu {
      background: @dark-grey;
    }

    .page-header__logo {
      height: 90px;
      position: absolute;
      top: 0;
      left: 20px;
      z-index: 100;
      background: url(../img/wood-texture@2x.jpg) repeat-x center center;
      text-align: center;

      &:before {
        content: '';
        display: inline-block;
        width: 223px;
        height: 40px;
        background: url(../img/os-logo--white@2x.png) no-repeat center center;
        background-size: contain;
        margin-top: 22px;
      }

      img {
        display: none;
      }
    }
  }

});

// Standard desktop header styles:
.desktop-up({

  .page-header__logo {
    width: 313px;
  }

  .main-menu {
    padding: 15px 0;
  }

  .main-menu__item {
    margin: 0 45px 0 0;

    &:last-child {
      margin-right: 0;
    }
  }

  .main-menu__tool {
    margin-left: 30px;
  }


  .page-header--home {
    padding-top: 0;
    padding-bottom: 0;

    .page-header__logo {
      width: 345px;
    }

    .page-header__logo:before {
      width: 310px;
      height: 54px;
      margin-top: 15px;
    }
  }

});

// Standard desktop header styles:
.big-desktop-up({

  .main-menu__tool {
    margin-left: 45px;
  }

});