body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 240px;
}

.page-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: @dark-grey;
  color: rgba(255,255,255,.5);
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.4rem;
  letter-spacing: 1px;
}


.page-footer__logo {
  display: block;
  margin-bottom: 20px;
  max-width: 85%;
}

.page-footer__logo-img {
  display: block;
  width: 100%;
  height: auto;
  opacity: .5;
}


.page-footer__contact-info {
  text-transform: uppercase;
}

.page-footer__phone {
  font-weight: @bold;

  a {
    text-decoration: none;
    color: rgba(255,255,255,.5);
  }
}


.page-footer__social-link {
  display: inline-block;
  color: @sand;
}


.page-footer_ts-and-cs {
  text-transform: uppercase;

  a {
    color: rgba(255,255,255,.5);
    font-weight: @bold;
  }
}

// Mobile only footer styles:
.tablet-portrait-down({

  .page-footer__logo {
    max-width: 212px;
  }


  .page-footer__contact-info {
    text-align: center;
  }

  .page-footer__phone,
  .page-footer__mini-btns {
    display: inline-block;
    vertical-align: middle;
  }

  .page-footer__mini-btn {
    margin-left: 18px;
  }


  .page-footer__social-links {
    margin: 20px auto;
  }

  .page-footer__social-links {
    text-align: center;
  }

  .page-footer__social-link {
    display: inline-block;
    font-size: 2.2rem;
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }
  }


  .page-footer_ts-and-cs {
    font-size: 1.2rem;
    line-height: 1.3;
    text-align: center;
  }

});

.tablet-landscape-up({

  body {
    padding-bottom: 287px;
  }

  .page-footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }


  .page-footer__phone {
    margin-bottom: 20px;
  }


  .page-footer__nav {
    margin-bottom: 30px;
  }

  .page-footer__nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .page-footer__nav-item {
    display: inline-block;
    width: 48%;
    margin-bottom: 8px;
  }

  .page-footer__nav-link {
    text-decoration: none;
    color: rgba(255,255,255,.5);
    text-transform: uppercase;
    font-weight: @bold;
    transition: color 250ms ease;

    &:hover {
      color: @sand;
    }
  }


  .page-footer__social-links {
    margin-bottom: 30px;
  }

  .page-footer__social-link {
    font-size: 2.4rem;
    margin-right: 25px;
    transition: color 250ms ease;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: #fff;
    }
  }


  .page-footer__btn {
    display: block;
    width: 100%;
    max-width: 230px;
    margin-bottom: 10px;
  }


  .page-footer_ts-and-cs {
    font-size: 1.2rem;

    a {
      transition: color 250ms ease;
    }

    a:hover {
      color: @sand;
    }
  }

});


.desktop-up({

  .page-footer__logo {
    width: 310px;
  }


  .page-footer__contact-info {
    padding-left: 60px;
  }


  .page-footer__social-link {
    font-size: 2.6rem;
  }

});


.big-desktop-up({

  body {
    padding-bottom: 313px;
  }

  .page-footer__nav,
  .page-footer__social-links {
    margin-bottom: 40px;
  }

  .page-footer_ts-and-cs {
    font-size: 1.4rem;
  }

});