.people-panel__title,
.people-panel__body-text {
  margin-bottom: 30px;
}

.tablet-portrait-down({

  .people-panel {
    padding-top: 0;
  }

  .people-panel__image-wrap {
    width: 100vw;
    margin-left: -30px;
    margin-bottom: 30px;
  }

  .people-panel__image {
    display: block;
    width: 100%;
    height: auto;
  }

});

.tablet-landscape-up({

  .people-panel {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
  }

  .people-panel__container {
    position: relative;
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .people-panel__image-wrap {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    max-width: 60%;
    overflow: hidden;
  }

  .people-panel__image {
    display: block;
    width: auto;
    height: 100%;
  }

  .people-panel__body-text {
    position: relative;
    max-width: 50%;
    z-index: 10;
  }

});

.big-desktop-up({

  .people-panel__image-wrap {
    overflow: visible;
  }

});