.pinboard__tool {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 10;
  margin-right: 20px;
  color: @black;
  cursor: pointer;
  user-select: none;
  transition: color 300ms ease;

  &:hover,
  &.pinboard__tool--active {
    color: @wood;
  }

  &.open .pinboard__tool-menu {
    display: block;
  }
}

.pinboard__tool-icon {
  font-size: 2.4rem;
  line-height: 1;
}

.pinboard__tool-menu {
  display: none;
  padding: 15px;
  background: rgba(237, 224, 193, 0.5);
  position: absolute;
  top: 100%;
  left: -75px;
  width: 175px;
  list-style: none;
  margin: 10px 0 0 0;
  text-align: left;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -6px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid rgba(237, 224, 193, 0.5);
  }
}

.pinboard__tool-menu-item {
  display: block;
  margin-bottom: 4px;
}

.pinboard__tool-menu-link {
  display: inline-block;
  position: relative;
  color: @black;
  font-size: 1.4rem;
  line-height: 1;
  padding-bottom: 6px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: @wood;
    opacity: 0;
    transform: translateY(2px);
    transition: all 300ms ease;
  }

  &:hover {
    font-weight: @semi;

    &:before {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.pinboard__tool--active .pinboard__tool-menu {
  display: block;
}


.phone-only({

  .pinboard__tiles {
    margin-left: -30px;
    width: 100vw;
  }

});


.tablet-portrait-down({

  .pinboard__tool-menu {
    background: @sand;

    &:before {
      border-bottom-color: @sand;
    }
  }

  .pinboard__tools {
    border-top: 1px solid @sand;
    border-bottom: 1px solid @sand;
    padding: 10px 0;
    margin-bottom: 20px;
  }

  .pinboard__tool-menu {
    left: 0;

    &:before {
      left: 6px;
      margin-left: 0;
    }
  }

});


.tablet-landscape-up({

  .pinboard__tools {
    text-align: center;
  }

  .pinboard__tool {
    margin-right: 30px;
  }

});