.post-preview {
  margin-bottom: 30px;
}

.post-preview__img {
  display: block;
  width: 100%;
  height: 230px;
  margin-bottom: 15px;
}

.post-preview__date {
  font-weight: @bold;
  font-size: 1.2rem;
  line-height: 1;
  margin-bottom: 15px;
}

.phone-only({

  .post-preview__img {
    width: 100vw;
    margin-left: -30px;
  }

});

.desktop-up({

  .post-preview__img {
    height: 250px;
  }

});