.product__details {
  margin-bottom: 40px;
}

.product__back-link {
  display: block;
  font-size: 1.4rem;
  font-weight: @semi;
  margin-bottom: 25px;

  i {
    margin-right: 5px;
  }
}

.product__print-link {
  display: block;
  margin: 0 0 30px 0;
  color: @black;
  font-size: 1.4rem;
  line-height: 1;
  text-align: right;
  font-weight: @semi;
  transition: color 300ms ease;

  i {
    margin-right: 5px;
  }

  &:hover {
    color: @wood;
  }
}


.phone-only({

  .product__back-link {
    margin-bottom: 15px;
  }

  .product__feature-list {
    font-size: 1.2rem;
    line-height: 1.3;
  }

});


.desktop-up({

    .product__feature-list {
      font-size: 1.6rem;
    }

});
