.product-tile {
  margin-bottom: 15px;
}

.product-tile__image {
  position: relative;
  display: block;
  width: 100%;
  height: 190px;
  margin-bottom: 20px;
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
  transition: box-shadow 300ms ease;
}

.product-tile:hover .product-tile__image,
.product-tile--active .product-tile__image {
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.5);
}

.product-tile--pinboard-tile .product-tile__image {
  box-shadow: none;
}

.product-tile__pin-btn {
  position: absolute;
  left: 0;
  top: 20px;
}

.product-tile__title {
  margin-bottom: 5px;
}

.product-tile__feature-list {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.product-tile__feature {
  display: block;
  font-size: 1.2rem;
  line-height: 1.35;
}


.phone-only({

  .product-tile--pinboard-tile .product-tile__image {
    height: 115px;
    margin-bottom: 15px;
  }

  .product-tile--pinboard-tile .product-tile__pin-btn {
    width: 20px;
    height: 20px;
    line-height: 20px;
  }

  .product-tile--gallery-tile .product-tile__image {
    height: 230px;
    margin-bottom: 15px;
  }

  .product-tile--pinboard-tile .pin-btn__icon {
    font-size: 1.5rem;
  }

  .product-tile--pinboard-tile .product__gallery-zoom i {
    display: none;
  }

});


.tablet-portrait-up({

  .product-tile__image {
    height: 250px;
  }

  .product-tile--gallery-tile .product-tile__image {
    height: 230px;
    margin-bottom: 15px;
  }

  .product-tile__feature {
    display: block;
    font-size: 1.6rem;
  }

});


.tablet-landscape-up({

  .product-tile--gallery-tile .product-tile__image {
    height: 335px;
  }

});