.product__gallery-wrap,
.product__gallery,
.product__gallery-item,
.product__gallery-image {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 380px;
}

.product__gallery-wrap {
  margin-bottom: 30px;
}

.product__gallery-wrap--gallery {
  margin-bottom: 50px;
}

.product__gallery {
  list-style: none;
  margin: 0;
  padding: 0;
}

.product__gallery-zoom {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;

  i {
    vertical-align: middle;
    color: rgba(255,255,255,.5);
    font-size: 4.6rem;
    transition: color 300ms ease;
  }

  &:hover i {
    color: #fff;
  }

  &:before {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }
}

.product__pin-btn {
  position: absolute;
  top: 40px;
  left: 0;
}

.product__gallery-thumbs-wrap {
  margin-bottom: 30px;
}

.product__gallery-thumbs {
  display: block;
  width: 100%;
  height: 160px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.product__gallery-thumb {
  display: inline-block;
  height: 100%;
  width: 225px;
  margin-left: 15px;

  &:first-child {
    margin-left: 0;
  }
}


.phone-only({

  .product__gallery-wrap,
  .product__gallery,
  .product__gallery-item,
  .product__gallery-image {
    height: 230px;
  }

  .product__gallery-wrap--gallery {
    height: 350px;

    .product__gallery,
    .product__gallery-item,
    .product__gallery-image {
      height: 350px;
    }
  }

  .product__gallery-wrap {
    width: 100vw;
    margin-left: -30px;
    margin-bottom: 15px;
  }

  .product__gallery-wrap--gallery {
    margin-bottom: 50px;
  }

  .product__gallery-thumbs-wrap {
    position: relative;

    &:before {
      content: '';
      display: block;
      height: 100%;
      width: 60px;
      position: absolute;
      right: -30px;
      top: 0;
      background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.84) 40%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%);
      pointer-events: none;
    }
  }

  .product__gallery-thumbs {
    width: ~"calc(100vw - 30px)";
    height: 60px;
    padding-right: 40px;
  }

  .product__gallery-thumb {
    height: 100%;
    width: 80px;
    margin-left: 4px;
  }

});

.tablet-landscape-up({

  .product__gallery-wrap--gallery {
    height: 520px;

    .product__gallery,
    .product__gallery-item,
    .product__gallery-image {
      height: 520px;
    }
  }

});


.desktop-up({

  .product__gallery-wrap,
  .product__gallery,
  .product__gallery-item,
  .product__gallery-image {
    height: 510px;
  }

  .product__gallery-wrap--gallery {
    height: 860px;
    position: relative;
    overflow: visible;

    .product__gallery,
    .product__gallery-item,
    .product__gallery-image {
      height: 860px;
    }
  }

  .carousel__control {
    display: block;
    width: 56px;
    height: 56px;
    position: absolute;
    z-index: 99;
    top: 50%;
    margin-top: -26px;
    background: @wood;
    color: #fff;
    text-align: center;
    line-height: 56px;
    font-size: 3rem;
  }

  .carousel__control--prev {
    left: -28px;
  }

  .carousel__control--next {
    right: -28px;
  }

});