.testimonials-panel__heading {
  margin-bottom: 30px;
}

.testimonials-panel__logo {
  display: inline-block;
  width: 214px;
  height: auto;
  vertical-align: middle;
}

.testimonials-slider__list {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: opacity 200ms ease;
}

// Fade in once plugin initialised
.bx-wrapper .testimonials-slider__list {
  opacity: 1;
}

.testimonials-slider__item {
  display: block;
  overflow-y: auto;
}

.testimonials-slider__quote {
  font-size: 1.8rem;
  line-height: 1.35;
  margin-bottom: 20px;
  font-weight: @light;
}

.testimonials-slider__author {
  text-align: right;
}

.testimonials-slider-wrap {

  .bx-wrapper {
    padding-bottom: 60px;
    position: relative;
  }

  .bx-pager {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }

  .bx-pager-item {
    display: inline-block;
    margin: 0 4px;
  }

  .bx-pager-link {
    display: block;
    font-size: 0;
    width: 18px;
    height: 4px;
    background: rgba(86, 76, 74, 0.15);

    &.active {
      background: rgba(86, 76, 74, 0.5);
    }
  }

}


.tablet-portrait-up({

  .testimonials-panel__logo {
    width: 312px;
  }

  .testimonials-panel__heading-text {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    margin-left: 20px;
    margin-top: 12px;
  }

  .testimonials-slider__author {
    padding-left: 50%;
    text-align: left;
  }

});


.tablet-landscape-up({

  .testimonials-slider__quote {
    font-size: 2.8rem;
  }

});