.view-options-bar {
  padding: 10px 0 12px 0;
  margin-bottom: 40px;
  border-top: 2px solid @sand;
  border-bottom: 2px solid @sand;
}

.view-options-bar__label {
  margin-right: 20px;
}

.view-options-bar__label-text {
  font-size: 1.4rem;
  font-weight: @semi;
}

.view-options-bar__label-icon {
  font-size: 2.6rem;
  line-height: 1;
}

.view-options-bar__label,
.view-options-bar__label-icon,
.view-options-bar__label-text,
.view-options-bar__options,
.view-options-bar__option,
.view-options-bar__checkbox,
.view-options-bar__option-name {
  display: inline-block;
  vertical-align: middle;
}

.view-options-bar__option {
  margin-right: 20px;
  margin-bottom: 0;
  width: auto;
}

.view-options-bar__option-name {
  font-size: 1.2rem;
  font-weight: @semi;
  margin-left: 5px;
}


.phone-only({

  .view-options-bar__options {
    max-width: ~"calc(100% - 55px)";
  }

  .view-options-bar__option {
    min-width: ~"calc(48% - 20px)";
  }

});


.tablet-portrait-up({

  .view-options-bar__label,
  .view-options-bar__option {
    margin-right: 40px;
  }

  .view-options-bar__options {
    max-width: ~"calc(100% - 150px)";
  }

  .view-options-bar__option-name {
    font-size: 1.4rem;
  }

});