---
layout: default
iscontactpage: true
---

<div class="col-group">
  <div class="col-dt-8">
    <div class="page-text">
      <h1>Contact OpenShutters</h1>
      <div class="u-lead-text">
        <p>Want to talk to someone who cares? Look no further! If you have a general enquiry, feel free to call us on <a href="tel:1300136911">1300 136 911</a> for the cost of a local call.</p>
      </div>
      <p>Our office is open from 6:30am and 4:30pm (Mon-Thu) or 8:00am and 1:00pm (Fri), or leave your details in the form below and we'll get back to you shortly.</p>
    </div>
    <div class="form-switcher">
      <a href="#contact-form" class="form-switcher__link js-form-switch active">Email us</a>
      <a href="#quote-form" class="form-switcher__link js-form-switch">Book a quote</a>
    </div>
    <div class="contact-page__forms">
      <form id="contact-form" class="contact-page__form show">
        <div class="field col-group">
          <label class="field__label col-3 col-dt-2">Name <span class="u-required">*</span></label>
          <div class="col-9 col-dt-10">
            <input type="text" class="field__input" name="" value="">
          </div>
        </div>
        <div class="field col-group">
          <label class="field__label col-3 col-dt-2">Email <span class="u-required">*</span></label>
          <div class="col-9 col-dt-10">
            <input type="text" class="field__input" name="" value="">
          </div>
        </div>
        <div class="field col-group">
          <label class="field__label col-3 col-dt-2">Phone</label>
          <div class="col-9 col-dt-10">
            <input type="number" class="field__input" name="" value="">
          </div>
        </div>
        <div class="field col-group">
          <label class="field__label col-3 col-dt-2">Postcode <span class="u-required">*</span></label>
          <div class="col-9 col-dt-10">
            <input type="number" class="field__input" name="" value="">
          </div>
        </div>
        <div class="field col-group">
          <label class="field__label col-3 col-dt-2">Message <span class="u-required">*</span></label>
          <div class="col-9 col-dt-10">
            <textarea class="field__input"></textarea>
          </div>
        </div>
        <div class="col-group">
          <div class="col-9 col-push-3 col-dt-10 col-dt-push-2">
            <label class="field--checkable">
              <input class="field__input" type="checkbox" name="" value="">
              <span class="field__label">Yes I would like to receive news from OpenShutters</span>
            </label>
          </div>
        </div>
        <div class="col-group">
          <div class="col-9 col-push-3 col-dt-10 col-dt-push-2">
            <button type="submit">Send message</button>
          </div>
        </div>
      </form>
      <form id="quote-form" class="contact-page__form">
        <p>Please complete the form below and we will contact you to arrange a time convenient for you to measure and quote your windows. (You must supply us with a telephone or email contact so that we may contact you).</p>
        <fieldset>
          <div class="field col-group">
            <label class="field__label col-3">Name <span class="u-required">*</span></label>
            <div class="col-9">
              <input type="text" class="field__input" name="" value="">
            </div>
          </div>
          <div class="field col-group">
            <label class="field__label col-3">Email <span class="u-required">*</span></label>
            <div class="col-9">
              <input type="text" class="field__input" name="" value="">
            </div>
          </div>
          <div class="field col-group">
            <label class="field__label col-3">Phone <span class="u-required">*</span></label>
            <div class="col-9">
              <input type="number" class="field__input" name="" value="">
            </div>
          </div>
          <div class="field col-group">
            <label class="field__label col-3">Address (line 1)</label>
            <div class="col-9">
              <input type="number" class="field__input" name="" value="">
            </div>
          </div>
          <div class="field col-group">
            <label class="field__label col-3">Address (line 2)</label>
            <div class="col-9">
              <input type="number" class="field__input" name="" value="">
            </div>
          </div>
          <div class="field col-group">
            <label class="field__label col-5">Postcode <span class="u-required">*</span></label>
            <div class="col-7">
              <input type="number" class="field__input" name="" value="">
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="field col-group">
            <label class="field__label col-5">Preferred date of visit</label>
            <div class="col-7">
              <input type="text" class="field__input" name="" value="">
            </div>
          </div>
          <div class="field col-group">
            <label class="field__label col-5">Preferred time</label>
            <div class="col-7">
              <select class="field__input">
                <option value="">Please Select</option>
                <option value="8am - 9am">8am - 9am</option>
                <option value="9am - 10am">9am - 10am</option>
                <option value="10am - 11am">10am - 11am</option>
                <option value="11am - 12pm">11am - 12pm</option>
                <option value="12pm - 1pm">12pm - 1pm</option>
                <option value="1pm - 2pm">1pm - 2pm</option>
                <option value="2pm - 3pm">2pm - 3pm</option>
                <option value="3pm - 4pm">3pm - 4pm</option>
                <option value="4pm - 5pm">4pm - 5pm</option>
                <option value="5pm - 6pm">5pm - 6pm</option>
                <option value="6pm - 7pm">6pm - 7pm</option>
                <option value="7pm - 8pm">7pm - 8pm</option>
              </select>
            </div>
          </div>
          <div class="col-group">
            <label class="field__label col-5">Preferred method of contact</label>
            <div class="col-7">
              <label class="field--checkable">
                <input class="field__input" type="radio" name="contact-method" value="">
                <span class="field__label">Telephone</span>
              </label>
              <label class="field--checkable">
                <input class="field__input" type="radio" name="contact-method" value="">
                <span class="field__label">Email</span>
              </label>
            </div>
          </div>
          <div class="field">
            <label class="field__label">Please provide any extra information you think may be useful to us<span class="u-required">*</span></label>
            <textarea class="field__input"></textarea>
          </div>
          <div>
            <label class="field--checkable">
              <input class="field__input" type="checkbox" name="" value="">
              <span class="field__label">Yes I would like to receive news from OpenShutters</span>
            </label>
          </div>
          <button type="submit">Send message</button>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="col-dt-4">
    <form action="#" method="post" class="signup-form signup-form--sidebar">
      <h3 class="signup-form__title">Sign up for Openshutters updates</h3>
      <input class="signup-form__input" type="text" name="Account-Email" placeholder="name@email.com">
      <input type="hidden" name="Hook-EmailSignup" value="true">
      <input type="hidden" name="Hook-Catcher" value="3">
      <input type="hidden" name="subjectline" value="New email subscriber">
      <input type="hidden" name="Account-Terms" value="true">
      <input type="hidden" name="Account-Newsletter" value="on">
      <button type="submit" class="signup-form__btn btn btn--has-icon">
        <i class="btn__icon icon-envelope"></i> Sign me up!
      </button>
      <p class="signup-form__note">We don't spam. You can unsubscribe at any time.</p>
    </form>
  </div>
</div>