<article id="article-id" class="blog-article">
  <h1 class="blog-article__title">Belated congratulations</h1>
  <div class="blog-article__date u-citation">21 March 2017</div>
  <div class="u-lead-text">
    To our apprentice Aaron Pomeroy, who last month successfully completed his apprenticeship in furniture finishing.
  </div>
  <div class="blog-article__image">
    <img src="{{ "/assets/img/temp-blog.jpg" | prepend: site.baseurl }}" alt="">
  </div>
  <div class="blog-article__body-text">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="blog-article__toolbar u-clearfix">
    <a href="#comment-form-1" class="blog-article__tool blog-article__comment-link js-toggle-comment-form"><i class="blog-article__tool-icon icon-bubble"></i> Leave a comment</a>
    <a href="#" class="blog-article__tool blog-article__share-link">Share this <i class="blog-article__tool-icon icon-dart"></i></a>
  </div>
  <div id="comment-form-1" class="blog-article__form">
    <h3 class="blog-article__form-title">Post a comment</h3>
    <p>Your email is never published</p>
    <form>
      <div class="field col-group">
        <label class="field__label col-3 col-dt-2">Name <span class="u-required">*</span></label>
        <div class="col-9 col-dt-10">
          <input type="text" class="field__input" name="" value="">
        </div>
      </div>
      <div class="field col-group">
        <label class="field__label col-3 col-dt-2">Email <span class="u-required">*</span></label>
        <div class="col-9 col-dt-10">
          <input type="text" class="field__input" name="" value="">
        </div>
      </div>
      <div class="field col-group">
        <label class="field__label col-3 col-dt-2">Comment <span class="u-required">*</span></label>
        <div class="col-9 col-dt-10">
          <textarea class="field__input"></textarea>
        </div>
      </div>
      <div class="field col-group">
        <div class="col-9 col-push-3 col-dt-10 col-dt-push-2">
          <button type="submit">Post comment</button>
        </div>
      </div>
    </form>
  </div>
</article>
