<div class="carousels-wrap">

  <!-- Standard carousel for desktop -->
  <div class="carousel carousel--desktop-only js-carousel">
    <ul class="carousel__list">
      <!-- Slide with both text and image: -->
      <li class="carousel__item">
        <div class="carousel__text">
          <div class="carousel__quote">
            &ldquo;&hellip;what a really perfect job making the cedar shutters and architraves for my client. I know your work is always of a high standard, but this job is just gorgeous.&rdquo;
          </div>
          <div class="carousel__attribution">C.P., Architect, Paddington, NSW</div>
          <a href="#" class="btn carousel__btn">See project</a>
        </div>
        <a href="#" class="carousel__image-link js-img-fill">
          <img class="carousel__image" src="{{ "/assets/img/slider-architect.jpg" | prepend: site.baseurl }}" alt="">
        </a>
      </li>
      <!-- Slide with just image -->
      <li class="carousel__item">
        <a href="#" class="carousel__image-link js-img-fill">
          <img class="carousel__image" src="{{ "/assets/img/slider-architect.jpg" | prepend: site.baseurl }}" alt="">
        </a>
      </li>
    </ul>
    <!-- Previous slide button: -->
    <a href="#" class="carousel__control carousel__control--prev js-carousel-prev">
      <i class="icon-chevron-left"></i>
    </a>
    <!-- Next slide button: -->
    <a href="#" class="carousel__control carousel__control--next js-carousel-next">
      <i class="icon-chevron-right"></i>
    </a>
  </div>

  <!-- Mobile carousel (alternates images with text) -->
  <div class="carousel carousel--mobile-only js-carousel">
    <!-- Image only slide -->
    <ul class="carousel__list">
      <li class="carousel__item">
        <a href="#" class="carousel__image-link js-img-fill">
          <img class="carousel__image" src="{{ "/assets/img/slider-architect.jpg" | prepend: site.baseurl }}" alt="">
        </a>
      </li>
      <!-- Text only slide -->
      <li class="carousel__item">
        <div class="carousel__text">
          <div class="carousel__quote">
            &ldquo;&hellip;what a really perfect job making the cedar shutters and architraves for my client. I know your work is always of a high standard, but this job is just gorgeous.&rdquo;
          </div>
          <div class="carousel__attribution">C.P., Architect, Paddington, NSW</div>
          <a href="#" class="btn carousel__btn">See project</a>
        </div>
      </li>
    </ul>
    <a href="#" class="carousel__control js-carousel-prev"><i class="icon-chevron-left"></i></a>
    <a href="#" class="carousel__control js-carousel-next"><i class="icon-chevron-right"></i></a>
  </div>

</div>