<footer class="page-footer">
  <div class="page-footer__container container--wide">
    <div class="col-group">
      <div class="col-dt-4 col-ld-5">
        <a href="/" class="page-footer__logo">
          <img class="page-footer__logo-img" src="{{ "/assets/img/os-logo--white@2x.png" | prepend: site.baseurl }}" alt="">
        </a>
        <div class="page-footer__contact-info">
          <div class="page-footer__phone">Call <a href="tel:1300136911">1300 136 911</a></div>
          <div class="page-footer__hours u-tablet-landscape-up">
            6:30am - 4:30pm (Mon - Thu)<br/>
            8:00am - 1:00pm (Fri)
          </div>
          <div class="page-footer__mini-btns u-tablet-portrait-down">
            <a href="#" class="page-footer__mini-btn btn btn--outline btn--no-text">
              <span href="#" class="btn__icon notifications-icon">
                <i class="notifications-icon__icon icon-pin"></i>
                <span class="notifications-icon__count">2</span>
              </span>
            </a>
            <a href="#" class="page-footer__mini-btn btn btn--outline btn--no-text">
              <i class="btn__icon icon-lock"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-dt-8 col-ld-7">
        <div class="col-group">
          <div class="col-dt-7">
            <nav class="page-footer__nav">
              <ul class="page-footer__nav-menu u-tablet-landscape-up">
                <li class="page-footer__nav-item"><a href="#" class="page-footer__nav-link">Products</a></li>
                <li class="page-footer__nav-item"><a href="#" class="page-footer__nav-link">Blog</a></li>
                <li class="page-footer__nav-item"><a href="#" class="page-footer__nav-link">Gallery</a></li>
                <li class="page-footer__nav-item"><a href="#" class="page-footer__nav-link">FAQs</a></li>
                <li class="page-footer__nav-item"><a href="#" class="page-footer__nav-link">About</a></li>
                <li class="page-footer__nav-item"><a href="#" class="page-footer__nav-link">Contact</a></li>
              </ul>
            </nav>
            <div class="page-footer__social-links">
              <a href="#" class="page-footer__social-link"><i class="icon-facebook"></i></a>
              <a href="#" class="page-footer__social-link"><i class="icon-twitter"></i></a>
              <a href="#" class="page-footer__social-link"><i class="icon-instagram"></i></a>
              <a href="#" class="page-footer__social-link"><i class="icon-pinterest"></i></a>
              <a href="#" class="page-footer__social-link"><i class="icon-linkedin"></i></a>
            </div>
          </div>
          <div class="col-dt-5">
            <div class="u-tablet-landscape-up">
              <a href="#" class="page-footer__btn btn btn--outline btn--has-icon">
                <span href="#" class="btn__icon notifications-icon">
                  <i class="notifications-icon__icon icon-pin"></i>
                  <span class="notifications-icon__count">2</span>
                </span>
                My Pinboard
              </a>
              <a href="#" class="page-footer__btn btn btn--outline btn--has-icon">
                <i class="btn__icon icon-lock"></i>
                Retailer Login
              </a>
            </div>
          </div>
        </div>
        <div class="page-footer_ts-and-cs">
          &copy; 2017 OpenShutters | Australian Timber Shutters PTY | <a href="#">Disclaimer</a>
        </div>
      </div>
    </div>
  </div>
</footer>