<header class="page-header{% if page.ishome %} page-header--home{% endif %}">
  <div class="page-header__container container--wide">
    <a href="/" class="page-header__logo">
      <img src="{{ "/assets/img/os-logo@2x.png" | prepend: site.baseurl }}" alt="Open Shutters" class="page-header__logo-img">
    </a>
    <a href="#main-menu" class="page-header__menu-trigger u-tablet-portrait-down js-toggle-menu">
      <!-- Output count only if notification count > 0 -->
      <span class="page-header__notification-count">2</span>
      <i class="page-header__menu-icon icon-menu"></i>
    </a>
    {% include main-menu.html %}
  </div>
</header>