<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <!-- For iPhone 4 with high-resolution Retina display: -->
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ "/assets/img/apple-touch-icon@2x.png" | prepend: site.baseurl }}">
	<!-- For first-generation iPad: -->
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ "/assets/img/apple-touch-icon.png" | prepend: site.baseurl }}">
	<!-- For nokia devices: -->
	<link rel="shortcut icon" href="{{ "/assets/img/apple-touch-icon.png" | prepend: site.baseurl }}">
	<link rel="icon" href="{{ "/assets/img/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">

  <!-- TypeKit fonts -->
  <script>
    (function(d) {
        var config = {
        kitId: 'gfv6aad',
        scriptTimeout: 3000,
        async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>

  <!-- Fancybox CSS. Note: has been modified slightly from original source to match design -->
  <link rel="stylesheet" href="{{ "/assets/js/vendor/fancybox/jquery.fancybox.css" | prepend: site.baseurl }}">
  <!-- Site styles: -->
  <link rel="stylesheet" href="{{ "/assets/css/style.min.css" | prepend: site.baseurl }}">

  <!--[if lt IE 9]>
    <script src="js/vendor/html5-3.6-respond-1.4.2.min.js"></script>
  <![endif]-->
</head>