<div id="main-menu" class="header-menu-section">
  <a href="#main-menu" class="header-menu-section__close u-tablet-portrait-down js-toggle-menu"><i class="icon-cross"></i></a>
  <nav class="main-menu">
    <ul class="main-menu__menu">
      <li class="main-menu__item">
        <a href="/products-landing" class="main-menu__link main-menu__link--active js-toggle-sub-menu">Products</a>
        <ul class="main-menu__sub-menu open">
          <li class="main-menu__sub-menu-item"><a href="/product" class="main-menu__sub-menu-link main-menu__sub-menu-link--active">Shutters</a></li>
          <li class="main-menu__sub-menu-item"><a href="/product" class="main-menu__sub-menu-link">Louvres</a></li>
          <li class="main-menu__sub-menu-item"><a href="/product" class="main-menu__sub-menu-link">Screens</a></li>
        </ul>
      </li>
      <li class="main-menu__item"><a href="/gallery-landing" class="main-menu__link js-toggle-sub-menu">Gallery</a></li>
      <li class="main-menu__item">
        <a href="/simple-page" class="main-menu__link js-toggle-sub-menu">About</a>
        <ul class="main-menu__sub-menu">
          <li class="main-menu__sub-menu-item"><a href="#" class="main-menu__sub-menu-link main-menu__sub-menu-link--active">Our People</a></li>
          <li class="main-menu__sub-menu-item"><a href="/simple-page-two-column" class="main-menu__sub-menu-link">Clients Speak</a></li>
          <li class="main-menu__sub-menu-item"><a href="/simple-page" class="main-menu__sub-menu-link">Warranty Info</a></li>
          <li class="main-menu__sub-menu-item"><a href="/simple-page" class="main-menu__sub-menu-link">Useful Links</a></li>
        </ul>
      </li>
      <li class="main-menu__item"><a href="/blog" class="main-menu__link js-toggle-sub-menu">Blog</a></li>
      <li class="main-menu__item"><a href="/simple-page" class="main-menu__link js-toggle-sub-menu">FAQs</a></li>
      <li class="main-menu__item"><a href="/contact" class="main-menu__link js-toggle-sub-menu">Contact</a></li>
    </ul>
    <div class="main-menu__tools u-tablet-landscape-up">
      <a href="/pinboard" class="main-menu__tool notifications-icon{% if page.ispinboard %} main-menu__tool--active{% endif %}">
        <i class="notifications-icon__icon icon-pin"></i>
        <span class="notifications-icon__count">2</span>
      </a>
      <a href="#" class="main-menu__tool"><i class="icon-lock"></i></a>
    </div>
  </nav>
  <div class="header-menu-btns u-tablet-portrait-down">
    <a href="#" class="btn btn--outline btn--has-icon">
      <span href="#" class="btn__icon notifications-icon">
        <i class="notifications-icon__icon icon-pin"></i>
        <span class="notifications-icon__count">2</span>
      </span>
      My Pinboard
    </a>
    <a href="#" class="btn btn--outline btn--has-icon">
      <i class="btn__icon icon-lock"></i>
      Retailer Login
    </a>
  </div>
</div>