<div class="product-tile product-tile--active{% if page.ispinboard %} product-tile--pinboard-tile{% endif %}">
  <a href="/product" class="product-tile__image js-img-fill">
    <span class="product__gallery-zoom js-show-modal"><i class="icon-magnifier"></i></span>
    <span class="product-tile__pin-btn pin-btn pin-btn--active js-pin-btn">
      <i class="pin-btn__icon icon-pin-solid"></i>
    </span>
    <img src="{{ "/assets/img/temp-product-1.jpg" | prepend: site.baseurl }}" alt="">
  </a>
</div>