<div class="jumper-links-wrap col-group">
  <div class="jumper-links-wrap__col col-6">
    <!-- Link to Shutters product range -->
    <a href="/product-range" class="jumper-link jumper-link--tall">
      <span class="jumper-link__text">
        <span class="jumper-link__primary-text">Shutters</span>
        <span class="jumper-link__secondary-text">with adjustable blades</span>
        <i class="jumper-link__icon icon-chevron-right"></i>
      </span>
      <span class="jumper-link__img js-img-fill"><img src="{{ "/assets/img/temp-jumper-link.jpg" | prepend: site.baseurl }}" alt=""></span>
    </a>
  </div>
  <div class="jumper-links-wrap__col col-6">
    <!-- Link to Louvres product range -->
    <a href="/product-range" class="jumper-link jumper-link--small">
      <span class="jumper-link__text">
        <span class="jumper-link__primary-text">Louvres</span>
        <span class="jumper-link__secondary-text">with fixed blades</span>
        <i class="jumper-link__icon icon-chevron-right"></i>
      </span>
      <span class="jumper-link__img js-img-fill"><img src="{{ "/assets/img/temp-jumper-link.jpg" | prepend: site.baseurl }}" alt=""></span>
    </a>
    <!-- Link to Screens product range -->
    <a href="/product-range" class="jumper-link jumper-link--regular">
      <span class="jumper-link__text">
        <span class="jumper-link__primary-text">Screens</span>
        <span class="jumper-link__secondary-text">dividing space/privacy</span>
        <i class="jumper-link__icon icon-chevron-right"></i>
      </span>
      <span class="jumper-link__img js-img-fill"><img src="{{ "/assets/img/temp-jumper-link.jpg" | prepend: site.baseurl }}" alt=""></span>
    </a>
  </div>
</div>