<div class="product-tile product-tile--active">
  <a href="/product" class="product-tile__image js-img-fill">
    <span class="product-tile__pin-btn pin-btn pin-btn--active js-pin-btn">
      <i class="pin-btn__icon icon-pin-solid"></i>
    </span>
    <img src="{{ "/assets/img/temp-product-tile.jpg" | prepend: site.baseurl }}" alt="">
  </a>
  <h3 class="product-tile__title"><a href="/product">Ultimate Style Shutter</a></h3>
  <ul class="product-tile__feature-list">
    <li class="product-tile__feature">Western Red Cedar</li>
    <li class="product-tile__feature">Aerofoil blade 115mm</li>
    <li class="product-tile__feature">Painted colour match</li>
    <li class="product-tile__feature">Interior | Exterior</li>
  </ul>
</div>