<dl class="product__feature-list">
  <dt>Suitable for</dt>
  <dd>Interior</dd>
  <dt>Materials</dt>
  <dd>Western Red Cedar</dd>
  <dt>Blades</dt>
  <dd>70 / 90 / 115</dd>
  <dt>Blade profile</dt>
  <dd>Aerofoil</dd>
  <dt>Panel widths</dt>
  <dd>700 / 900 / 1000</dd>
  <dt>Panel height</dt>
  <dd>2600</dd>
  <dt>Finishes</dt>
  <dd>Paint / Stain / Clear</dd>
  <dt>Application</dt>
  <dd>Windows, French doors, Sliding doors, Bifold doors, hinged</dd>
  <dt>Special shapes</dt>
  <dd>Available</dd>
</dl>