---
layout: default
isblogpage: true
---

<div class="col-group">
  <div class="col-dt-8">
    {% include blog-article.html %}
  </div>
  <div class="col-dt-4">
    <form action="#" method="post" class="signup-form signup-form--sidebar">
      <h3 class="signup-form__title">Sign up for Openshutters updates</h3>
      <input class="signup-form__input" type="text" name="Account-Email" placeholder="name@email.com">
      <input type="hidden" name="Hook-EmailSignup" value="true">
      <input type="hidden" name="Hook-Catcher" value="3">
      <input type="hidden" name="subjectline" value="New email subscriber">
      <input type="hidden" name="Account-Terms" value="true">
      <input type="hidden" name="Account-Newsletter" value="on">
      <button type="submit" class="signup-form__btn btn btn--has-icon">
        <i class="btn__icon icon-envelope"></i> Sign me up!
      </button>
      <p class="signup-form__note">We don't spam. You can unsubscribe at any time.</p>
    </form>
  </div>
</div>