---
layout: default
isproductrange: true
---

<!-- .page-text class used for what will represent and article (or maybe page description?) in Boss -->
<div class="page-text">
  <h1>Shutters</h1>
  <div class="u-lead-text">
    <p>Handcrafted timber shutters - created by master craftsmen working in cedar and sustainable timbers.</p>
  </div>
  <div class="page-text-body">
    <p>Here are some of the designs possible. Whatever blade profile, shape, size or finish you have in mind, for any opening, from fixed to bi-fold, we make it to your exact requirements. <a href="/contact">Talk to us</a> about your design ideas. We'd love to make it a reality that will last.</p>
  </div>
</div>

<div class="view-options-bar">
  <div class="view-options-bar__label">
    <i class="view-options-bar__label-icon icon-funnel"></i>
    <span class="view-options-bar__label-text u-tablet-portrait-up">Apply filter:</span>
  </div>
  <div class="view-options-bar__options">
    <label for="interior" class="view-options-bar__option">
      <input class="view-options-bar__checkbox" id="interior" type="checkbox" name="" value="interior">
      <span class="view-options-bar__option-name">Interior</span>
    </label>
    <label for="exterior" class="view-options-bar__option">
      <input class="view-options-bar__checkbox" id="exterior" type="checkbox" name="" value="interior">
      <span class="view-options-bar__option-name">Exterior</span>
    </label>
  </div>
</div>

<div class="col-group">
  <div class="col-6 col-dt-4">
    {% include product-range-tile.html %}
  </div>
  <div class="col-6 col-dt-4">
    {% include product-range-tile.html %}
  </div>
  <!-- This is an active tile: :) -->
  <div class="col-6 col-dt-4">
    {% include product-range-tile--active.html %}
  </div>
  <!-- End active tile -->
  <div class="col-6 col-dt-4">
    {% include product-range-tile.html %}
  </div>
  <div class="col-6 col-dt-4">
    {% include product-range-tile.html %}
  </div>
  <div class="col-6 col-dt-4">
    {% include product-range-tile.html %}
  </div>
  <div class="col-6 col-dt-4">
    {% include product-range-tile.html %}
  </div>
  <div class="col-6 col-dt-4">
    {% include product-range-tile.html %}
  </div>
  <div class="col-6 col-dt-4">
    {% include product-range-tile.html %}
  </div>
  <div class="col-6 col-dt-4">
    {% include product-range-tile.html %}
  </div>
  <div class="col-6 col-dt-4">
    {% include product-range-tile.html %}
  </div>
  <div class="col-6 col-dt-4">
    {% include product-range-tile.html %}
  </div>
</div>