---
layout: default
isgallerysingle: true
---

<a href="/gallery-landing" class="product__back-link"><i class="icon-arrow-left"></i> Back to overview</a>

<div class="product__gallery-wrap product__gallery-wrap--gallery js-gallery-slider">
  <ul class="product__gallery product__gallery--gallery">
    <!-- Loop through product images here: -->
    <li class="product__gallery-item">
      <div class="product__gallery-image js-img-fill">
        <span class="product__pin-btn pin-btn js-pin-btn">
          <i class="pin-btn__icon icon-pin"></i>
        </span>
        <img src="{{ "/assets/img/temp-product-large.jpg" | prepend: site.baseurl }}" alt="">
      </div>
    </li>
    <li class="product__gallery-item">
      <div class="product__gallery-image js-img-fill">
        <span class="product__pin-btn pin-btn js-pin-btn">
          <i class="pin-btn__icon icon-pin"></i>
        </span>
        <img src="{{ "/assets/img/temp-product-1.jpg" | prepend: site.baseurl }}" alt="">
      </div>
    </li>
    <li class="product__gallery-item">
      <div class="product__gallery-image js-img-fill">
        <span class="product__pin-btn pin-btn js-pin-btn">
          <i class="pin-btn__icon icon-pin"></i>
        </span>
        <img src="{{ "/assets/img/temp-product-large.jpg" | prepend: site.baseurl }}" alt="">
      </div>
    </li>
    <li class="product__gallery-item">
      <div class="product__gallery-image js-img-fill">
        <span class="product__pin-btn pin-btn js-pin-btn">
          <i class="pin-btn__icon icon-pin"></i>
        </span>
        <img src="{{ "/assets/img/temp-product-1.jpg" | prepend: site.baseurl }}" alt="">
      </div>
    </li>
    <li class="product__gallery-item">
      <div class="product__gallery-image js-img-fill">
        <span class="product__pin-btn pin-btn js-pin-btn">
          <i class="pin-btn__icon icon-pin"></i>
        </span>
        <img src="{{ "/assets/img/temp-product-large.jpg" | prepend: site.baseurl }}" alt="">
      </div>
    </li>
  </ul>
  <a href="#" class="carousel__control carousel__control--prev js-carousel-prev"><i class="icon-chevron-left"></i></a>
  <a href="#" class="carousel__control carousel__control--next js-carousel-next"><i class="icon-chevron-right"></i></a>
</div>

<div class="container">
  <div class="page-text">
    <h2>Cedar Falls Project</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>