.main-content-area {
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 500px;
}

.home-page .main-content-area {
  padding-top: 0;
  padding-bottom: 0;
}

.tablet-portrait-up({

  .main-content-area {
    padding-top: 80px;
    padding-bottom: 80px;
  }

});