---
layout: default
isproductrange: true
---

<div class="product__details col-group">
  <div class="col-dt-4">
    <a href="#" class="product__back-link"><i class="icon-arrow-left"></i> Back to Shutters overview</a>
    <div class="product__description">
      <h2>Ultimate Style Shutter</h2>
      <div class="page-text">
        <p>The Ultimate Shutter comes in various styles and can be adapted to your specific requirements.</p>
      </div>
    </div>
    <div class="u-tablet-portrait-up">
      {% include product-feature-list.html %}
    </div>
  </div>
  <div class="col-dt-8">
    <div class="product__gallery-wrap">
      <ul class="product__gallery js-product-gallery">
        <!-- Loop through product images here: -->
        <li class="product__gallery-item">
          <a href="{{ "/assets/img/temp-product-large.jpg" | prepend: site.baseurl }}" class="product__gallery-image js-img-fill js-gallery-modal-trigger" rel="product-gallery">
            <span class="product__gallery-zoom js-show-modal"><i class="icon-magnifier"></i></span>
            <span class="product__pin-btn pin-btn js-pin-btn">
              <i class="pin-btn__icon icon-pin"></i>
            </span>
            <img src="{{ "/assets/img/temp-product-1.jpg" | prepend: site.baseurl }}" alt="">
          </a>
        </li>
        <li class="product__gallery-item">
          <a href="{{ "/assets/img/temp-product-large.jpg" | prepend: site.baseurl }}" class="product__gallery-image js-img-fill js-gallery-modal-trigger" rel="product-gallery">
            <span class="product__gallery-zoom js-show-modal"><i class="icon-magnifier"></i></span>
            <span class="product__pin-btn pin-btn js-pin-btn">
              <i class="pin-btn__icon icon-pin"></i>
            </span>
            <img src="{{ "/assets/img/temp-product-2.jpg" | prepend: site.baseurl }}" alt="">
          </a>
        </li>
        <li class="product__gallery-item">
          <a href="{{ "/assets/img/temp-product-large.jpg" | prepend: site.baseurl }}" class="product__gallery-image js-img-fill js-gallery-modal-trigger" rel="product-gallery">
            <span class="product__gallery-zoom js-show-modal"><i class="icon-magnifier"></i></span>
            <span class="product__pin-btn pin-btn js-pin-btn">
              <i class="pin-btn__icon icon-pin"></i>
            </span>
            <img src="{{ "/assets/img/temp-product-3.jpg" | prepend: site.baseurl }}" alt="">
          </a>
        </li>
        <li class="product__gallery-item">
          <a href="{{ "/assets/img/temp-product-large.jpg" | prepend: site.baseurl }}" class="product__gallery-image js-img-fill js-gallery-modal-trigger" rel="product-gallery">
            <span class="product__gallery-zoom js-show-modal"><i class="icon-magnifier"></i></span>
            <span class="product__pin-btn pin-btn js-pin-btn">
              <i class="pin-btn__icon icon-pin"></i>
            </span>
            <img src="{{ "/assets/img/temp-product-1.jpg" | prepend: site.baseurl }}" alt="">
          </a>
        </li>
        <li class="product__gallery-item">
          <a href="{{ "/assets/img/temp-product-large.jpg" | prepend: site.baseurl }}" class="product__gallery-image js-img-fill js-gallery-modal-trigger" rel="product-gallery">
            <span class="product__gallery-zoom js-show-modal"><i class="icon-magnifier"></i></span>
            <span class="product__pin-btn pin-btn js-pin-btn">
              <i class="pin-btn__icon icon-pin"></i>
            </span>
            <img src="{{ "/assets/img/temp-product-2.jpg" | prepend: site.baseurl }}" alt="">
          </a>
        </li>
      </ul>
    </div>

    <div class="product__gallery-thumbs-wrap">
      <div class="product__gallery-thumbs">
        <!-- Repeat loop through product images here: -->
        <a href="#" class="product__gallery-thumb js-product-gallery-pager js-img-fill">
          <img src="{{ "/assets/img/temp-product-1.jpg" | prepend: site.baseurl }}" alt="">
        </a>
        <a href="#" class="product__gallery-thumb js-product-gallery-pager js-img-fill">
          <img src="{{ "/assets/img/temp-product-2.jpg" | prepend: site.baseurl }}" alt="">
        </a>
        <a href="#" class="product__gallery-thumb js-product-gallery-pager js-img-fill">
          <img src="{{ "/assets/img/temp-product-3.jpg" | prepend: site.baseurl }}" alt="">
        </a>
        <a href="#" class="product__gallery-thumb js-product-gallery-pager js-img-fill">
          <img src="{{ "/assets/img/temp-product-1.jpg" | prepend: site.baseurl }}" alt="">
        </a>
        <a href="#" class="product__gallery-thumb js-product-gallery-pager js-img-fill">
          <img src="{{ "/assets/img/temp-product-2.jpg" | prepend: site.baseurl }}" alt="">
        </a>
      </div>
    </div>

    <div class="u-phone-only">
      {% include product-feature-list.html %}
    </div>
  </div>
</div>

<div class="product__applications">
  <h3>How this product can be used/applied</h3>
  <div class="page-text">
    <p>This is the ultimate plantation style shutter. This range will complement any style from French provincial to modern minimalist. These shutters can be designed to suit any shaped windows. When used on doors they can be designed to allow the doors to be cleared to offer shading against the glare and heat of the sun.</p>
  </div>
</div>

<a href="#" class="product__print-link"><i class="icon-printer"></i> Print this</a>

<div class="view-options-bar">
  <div class="view-options-bar__label">
    <i class="view-options-bar__label-icon icon-funnel"></i>
    <span class="view-options-bar__label-text u-tablet-portrait-up">Apply filter:</span>
  </div>
  <div class="view-options-bar__options">
    <label for="tracked" class="view-options-bar__option">
      <input class="view-options-bar__checkbox" id="tracked" type="checkbox" name="" value="interior">
      <span class="view-options-bar__option-name">Tracked</span>
    </label>
    <label for="hinged" class="view-options-bar__option">
      <input class="view-options-bar__checkbox" id="hinged" type="checkbox" name="" value="interior">
      <span class="view-options-bar__option-name">Hinged</span>
    </label>
    <label for="bifold" class="view-options-bar__option">
      <input class="view-options-bar__checkbox" id="bifold" type="checkbox" name="" value="interior">
      <span class="view-options-bar__option-name">Bifold</span>
    </label>
    <label for="fixed" class="view-options-bar__option">
      <input class="view-options-bar__checkbox" id="fixed" type="checkbox" name="" value="interior">
      <span class="view-options-bar__option-name">Fixed</span>
    </label>
  </div>
</div>

<div class="col-group">
  <div class="col-6 col-dt-4">
    {% include product-tile.html %}
  </div>
  <div class="col-6 col-dt-4">
    {% include product-tile--active.html %}
  </div>
  <div class="col-6 col-dt-4">
    {% include product-tile.html %}
  </div>
  <div class="col-6 col-dt-4">
    {% include product-tile.html %}
  </div>
  <div class="col-6 col-dt-4">
    {% include product-tile.html %}
  </div>
  <div class="col-6 col-dt-4">
    {% include product-tile.html %}
  </div>
  <div class="col-6 col-dt-4">
    {% include product-tile.html %}
  </div>
  <div class="col-6 col-dt-4">
    {% include product-tile.html %}
  </div>
  <div class="col-6 col-dt-4">
    {% include product-tile.html %}
  </div>
</div>