---
layout: default
isgallerypage: true
---

<div class="view-options-bar">
  <div class="view-options-bar__label">
    <i class="view-options-bar__label-icon icon-funnel"></i>
    <span class="view-options-bar__label-text u-tablet-portrait-up">Apply filter:</span>
  </div>
  <div class="view-options-bar__options">
    <label for="interior" class="view-options-bar__option">
      <input class="view-options-bar__checkbox" id="interior" type="checkbox" name="" value="interior">
      <span class="view-options-bar__option-name">Custom work</span>
    </label>
    <label for="exterior" class="view-options-bar__option">
      <input class="view-options-bar__checkbox" id="exterior" type="checkbox" name="" value="interior">
      <span class="view-options-bar__option-name">Products</span>
    </label>
  </div>
</div>

<div class="col-group">
  <div class="col-6">
    {% include gallery-tile.html %}
  </div>
  <div class="col-6">
    {% include gallery-tile.html %}
  </div>
  <div class="col-6">
    {% include gallery-tile.html %}
  </div>
  <div class="col-6">
    {% include gallery-tile.html %}
  </div>
  <div class="col-6">
    {% include gallery-tile.html %}
  </div>
  <div class="col-6">
    {% include gallery-tile.html %}
  </div>
  <div class="col-6">
    {% include gallery-tile.html %}
  </div>
</div>