---
layout: default
---

<!-- .page-text class used for what will represent and article (or maybe page description?) in Boss -->
<div class="page-text">
  <h1>Our Product Ranges</h1>
  <div class="u-lead-text">
    <p>The largest range of <a href="/product-range">louvres</a>, <a href="/product-range">shutters</a> and <a href="/product-range">screens</a> made to order in Australia.</p>
  </div>
  <div class="page-text-body">
    <p>The preferred choice of architects and designers, made to your specifications from Western Red Cedar to aluminium, interior to exterior. Handcrafted in all shapes and sizes. Choose materials and finishes for the look you need - the possibilities are unlimited.</p>
    <p>Select a range to see what is possible&hellip;</p>
  </div>
</div>

{% include product-range-jumper-links.html %}
