---
layout: default
---

<h1>OpenShutters Warranty</h1>
<div class="page-text">
  <div class="u-lead-text">
    <p>OpenShutters, an Australian owned and operated company, manufactures customised orders as instructed by other trades and on-sellers and this warranty will reasonably cover the quality of materials selected and the workmanship of the manufactured product.</p>
  </div>
  <p>OpenShutters accepts Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
</div>

<div class="page-text">
  <h2>1.0 Assistance Request</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor:</p>
  <dl>
    <dt>Mail</dt>
    <dd>Factory 3, 6 Hereford Street, Berkeley Vale, NSW 2261<br>
        PO Box 5203, Chittaway Bay, NSW, 2261
    </dd>
    <dt>Phone</dt>
    <dd>02 4389 8966</dd>
    <dt>Fax</dt>
    <dd>02 4389 8310</dd>
    <dt>Email</dt>
    <dd><a href="mailto:info@openshutters.com.au">info@openshutters.com.au</a></dd>
  </dl>
  <p>To help us respond quickly to your request, please provide the following:</p>
  <ul>
    <li>Proof of purchase (e.g. tax invoice or receipt);</li>
    <li>Your contact details;</li>
    <li>Description of the product and the problem (photos are helpful);</li>
  </ul>
</div>

<div class="page-text">
  <h2>2.0 Our Response</h2>
  <ul>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
    <li>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
    <li>Amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</li>
  </ul>
  <p><em>Note - replacement parts may not be an aesthetic match to the original.</em></p>
</div>

<div class="page-text">
  <h2>3.0 What is and isn't covered by this warranty</h2>
  <h3>3.1 Timber / Wood</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <h3>3.2 Variations, finishes and environmental factors</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>