<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->

  {% include head.html %}

  <!--
    NOTE: Need to add home-page class if page ID == 1 (styles for main content
    area padding and jumper links sizing depend on it)
  -->
  <body{% if page.ishome %} class="home-page"{% endif %}>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% include header.html %}

    {% if page.ishome %}
      {% include carousel.html %}
    {% endif %}

    <div class="main-content-area">
      <!-- NOTE: no container on home page to allow for full width panels -->
      {% if page.ishome %}
        {{ content }}
      {% endif %}

      <!-- NOTE: product range, blog and contact page use medium width container -->
      {% if page.isproductrange or page.isblogpage or page.iscontactpage %}
        <div class="container container--medium">
          {{ content }}
        </div>
      {% endif %}

      <!-- NOTE: individual gallery page uses wide container -->
      {% if page.isgallerysingle %}
        <div class="container container--wide">
          {{ content }}
        </div>
      {% endif %}

      <!-- NOTE: all other pages default to standard 960px container -->
      {% unless page.ishome or page.isproductrange or page.isgallerysingle or page.isblogpage or page.iscontactpage %}
        <div class="container">
          {{ content }}
        </div>
      {% endunless %}
    </div>

    {% include footer.html %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ "/assets/js/vendor/jquery-1.11.2.min.js" | prepend: site.baseurl }}"><\/script>')</script>

    <script src="{{ "/assets/js/vendor/jquery.bxslider.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/vendor/imgliquid-min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/vendor/fancybox/jquery.fancybox.pack.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>

  </body>

</html>
