/*=========================================*\
  Colour Variables
\*=========================================*/

@black: #333;
@grey: lighten(@black, 50%);
@dark-grey: #564c4a;
@off-white: #f3f0ef;
@sand: #ede0c1;
@wood: #a7734f;
@sky: #e7efec;
@red: #de3a29;