/*=========================================*\
  Font Variables
\*=========================================*/

// Font families:
@primary-font: 'etica', serif;


// Font weights:
@light: 300;
@book: 400;
@semi: 600;
@bold: 700;